<style>
  .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 8px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
</style>
<div *ngIf="showBar" dir="rtl" class="container">
  <h2> בבקשה לבחר סוג תביעה</h2>


  <div class="form-group">
    <label>סוג תביעה</label>
    <select [(ngModel)]="selectedLevel" (change)="selected()">
      <option disabled>סוג תביעה</option>

      <option>בחר</option>
      <option *ngFor="let type of caseTypes" >{{type}}</option>
    </select>
  </div>

</div>

<div  *ngIf='showTable' style="text-align: right" class="container mt-5">



  <h2>כל התביעות</h2>

  <table dir="rtl" class="table table-striped-columns">
    <thead>
    <tr>
      <th>מספר תיק</th>
      <th>סוג עניין</th>
      <th>שנת משפט</th>
      <th>מחוז</th>
      <th>מועד פתיחת התיק</th>
      <th>מועד מתן החלטה סוגרת</th>

    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let cas of Cases">
    <tr  *ngIf="getHebCaseType(cas.case_matter) == selectedLevel">
      <td>{{ cas.case_num }}</td>
      <td>{{ getHebCaseType(cas.case_matter) }}</td>
      <td>{{ cas.trial_year }}</td>
      <td>{{ getHebDistrictName(cas.court_district) }}</td>
      <td>{{ cas.date_open }}</td>
      <td>{{ cas.date_close }}</td>
      <button class="btn"><i class="fa fa-home"  (click)="sendNumberTodetails(cas.case_num)"> הצג</i></button>

    </tr>
    </ng-container>
    </tbody>
  </table>

</div>

<div *ngIf="showDetails">
  <app-case-details-heb [CaseNumber]="selectCaseNumber"></app-case-details-heb>

</div>
