<style>
  .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 8px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
</style>
<div  class="container">
  <h2> please choose your case Type </h2>


    <div class="form-group">
      <label>Case Type:</label>
      <select [(ngModel)]="selectedLevel" (change)="selected()">
        <option disabled>Select Type</option>

        <option>Choose Type</option>
        <option *ngFor="let type of caseTypes" >{{type}}</option>
      </select>
    </div>

</div>

<div  *ngIf='showTable' style="text-align: right" class="container mt-5"   >

  <div style="text-align: left" >


    <h2>All Cases</h2>

    <table dir="ltr" class="table table-striped-columns">
      <thead>
      <tr>
        <th>Case Number</th>
        <th>Case matter</th>
        <th>Year of trial</th>
        <th>Court district</th>
        <th>Filing Date</th>
        <th>Disposition date</th>

      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let cas of Cases">
      <tr  *ngIf="getEngCaseType(cas.case_matter) == selectedLevel">
        <td>{{ cas.case_num }}</td>
        <td>{{ getEngCaseType(cas.case_matter) }}</td>
        <td>{{ cas.trial_year }}</td>
        <td>{{ getEngDistrictName(cas.court_district) }}</td>
        <td>{{ cas.date_open }}</td>
        <td>{{ cas.date_close }}</td>
        <button class="btn"><i class="fa fa-home" > show</i></button>

      </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

</div>

