<style>
  .btn {
    background-color: DodgerBlue; /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 8px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
</style>

<div style="text-align: right" class="container mt-5">



  <h2>כל התביעות</h2>

  <table dir="rtl" class="table table-striped-columns">
    <thead>
    <tr>
      <th>מספר תיק</th>
      <th>סוג עניין</th>
      <th>שנת משפט</th>
      <th>מחוז</th>
      <th>מועד פתיחת התיק</th>
      <th>מועד מתן החלטה סוגרת</th>

    </tr>
    </thead>
    <tbody>

    <tr  *ngFor="let cas of Cases" >
      <td>{{ cas.case_num }}</td>
      <td>{{ getHebCaseType(cas.case_matter) }}</td>
      <td>{{ cas.trial_year }}</td>
      <td>{{ getHebDistrictName(cas.court_district) }}</td>
      <td>{{ cas.date_open }}</td>
      <td>{{ cas.date_close }}</td>
      <button class="btn"><i class="fa fa-home" > הצג</i></button>

    </tr>
    </tbody>
  </table>
  </div>





